<%= form_with(model: contact, local: true) do |form| %>
  <% if contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
        <% contact.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


    <div class="column is-half">
      <div class="field">
          <%= form.label :firstName, class: "label" %>
          <%= form.text_field :firstName, class: "input" %>
      </div>
    </div>

    <div class="column is-half">
      <div class="field">
        <%= form.label :lastName, class: "label" %>
        <%= form.text_field :lastName, class: "input" %>
      </div>
    </div>

    <div class="column is-half">
      <div class="field">
        <%= form.label :photo_url, class: "label" %>
        <%= form.text_field :photo_url, class: "input" %>
      </div>
    </div>

    <div class="column is-half">
      <div class="field">
        <%= form.label :mobile, class: "label" %>
        <%= form.text_field :mobile, class: "input" %>
      </div>
    </div>

    <div class="column is-half">
      <div class="field">
        <%= form.label :work, class: "label" %>
        <%= form.text_field :work, class: "input" %>
      </div>
    </div>

    <div class="column is-half">
      <div class="actions">
        <%= form.submit class: "button is-normal" %>
      </div>
    </div>

<% end %>
