<p id="notice"><%= notice %></p>

<div class="columns is-multiline ">
    <% @contacts.each do |contact| %>
      <div class="column is-one-third">
          <div class="card">
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class="image is-48x48">
                    <%= image_tag "#{contact.photo_url}" %>
                  </figure>
                </div>
                <div class="media-content">
                  <p class="title is-4"><%= contact.firstName %> <%= contact.lastName %></p>
                  <p class="subtitle is-6">M: <%= contact.mobile %> | T: <%= contact.work %></p>
                  <p class="subtitle is-6"><%= link_to 'Show', contact, class: "button is-small is-link is-light" %> | <%= link_to 'Edit', edit_contact_path(contact), class: "button is-small is-link is-light" %> | <%= link_to 'Destroy', contact, class: "button is-small is-danger is-light" ,method: :delete, data: { confirm: 'Are you sure?' } %></p>
                </div>
              </div>
            </div>
          </div>
        </div>
    <% end %>
</div>
